<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goular.rx"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 学习Rx系列的内容 -->
        <activity android:name=".rxuse.RxJavaBaseUseActivity" />
        <activity android:name=".rxuse.RxJavaCreateActivity" />
        <activity android:name=".rxuse.RxJavaMapActivity" />
        <activity android:name=".rxuse.RxAndroidActivity" />
        <activity android:name=".rxuse.RxBindingActivity" />
        <activity android:name=".rxuse.RetrofitActivity" />
        <activity android:name=".rxuse.RxRetrofitActivity" />
        <activity android:name=".rxuse.PermissionActivity" />
        <activity android:name=".rxuse.RxPermissionActivity" />
        <activity android:name=".rxuse.RxLifeCycleActivity" />

        <!-- 添加Rx自定义项目的内容（利用gank.io的api来创建全Rx系列API的内容） -->

        <activity android:name=".rxgank.AboutActivity" />
        <activity android:name=".rxgank.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>